/*
Theme Name: Maplewood
Author: Forge and Smith
Author URI: http://forgeandsmith.com/
Description: Theme for Forge and Smith
Version: 2.0.0
License: GNU General Public License
License URI: license.txt
*/


#area-map-controls{
	bottom: 50px;
	top: auto;
}