/////////////////////////////////
//////     BODY STYLES     //////
/////////////////////////////////

html {
	font-size: 100%;
	height: 100%;
}

body {
	color: $maintext;
	min-height: 100%;
	// line-height: 1.2em;
	@include font-size(20);
	overflow-x: hidden;
	// position: relative;

	@include archer();
}

::selection {
	background: $orange;
	color: white;
}

::-moz-selection {
	background: $orange;
	color: white;
}


////////////////////////////////
//////     BLOCKQUOTE     //////
////////////////////////////////

blockquote {
	border:none;
	padding:0;
	p {
		// main block quote styling goes here
		font-style: italic;
		&:last-of-type {
			// the block quote source goes here
			font-style: normal;
			font-weight: 700;
		}
	}
}


//////////////////////////
//////     CODE     //////
//////////////////////////

pre {
	background: #eee;
	border: 1px solid #ccc;
	margin: 0 0 15px;
	padding: 20px;
}


///////////////////////////////////
//////        HEADERS       ///////
///////////////////////////////////

h1, h2, h3, h4, h5, h6 {
	font-variant-ligatures: common-ligatures;
	@include archer();
	a {
		text-decoration:none;
	}
}

h1 {
	@include font-size(60);
	//color: ;
	line-height: 1.3;
	margin: 0;
	padding-bottom: 25px;
	text-transform: uppercase;
	a {
		// color: ;
		&:hover {
			// color: ;
		}
	}
}

h2 {
	@include font-size(46);
	// color: ;
	line-height: 1.3;
	margin: 0;
	padding-bottom: 25px;
	text-transform: none;
	a {
		// color: ;
		&:hover {
			// color: ;
		}
	}
}

h3 {
	@include font-size(38);
	color: white;
	line-height: 1.3;
	margin: 0;
	padding-bottom: 25px;
	text-transform: none;
	a {
		// color: ;
		&:hover {
			// color: ;
		}
	}
}

h4 {
	@include archer(700);
	@include font-size(16);
	// color: ;
	line-height: 1.3;
	margin: 0;
	padding-bottom: 5px;
	text-transform: uppercase;
	a {
		// color: ;
		&:hover {
			// color: ;
		}
	}
}

h5 {
	@include archer(600);
	@include font-size(14);
	color: $darkgrey;
	line-height: 1.3;
	margin: 0;
	padding-bottom: 15px;
	text-transform: uppercase;
	a {
		// color: ;
		text-decoration: none;
		&:hover{
			// color: ;
		}
	}
}

h6 {
	@include font-size(18);
	//color: ;
	line-height: 1.3;
	margin: 0;
	padding-bottom: 25px;
	text-transform: uppercase;
	a {
		// color: ;
		text-decoration: none;
		&:hover{
			// color: ;
		}
	}
}


////////////////////////////
//////     IMAGES     //////
////////////////////////////

img {
	max-width: 100%; 
	height: auto; 

	margin-top: 0;
	&.alignright {
		float: right;
		margin-bottom: 15px;
		margin-left: 15px;
	}
	&.alighnleft {
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	&.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}


///////////////////////////
//////     LINKS     //////
///////////////////////////

a, a:hover {
	@include ease();
}

// Standard Links //
a {
	// color: ;
	text-decoration: underline;
	&:hover, &:focus, &:active {
		// color: ;
		text-decoration: none;
	}
}

// Button Links //
a.button {
	@include button();
}

// Read More Link //
a.read-more {
	// color: ;
	// display:inline;
	text-decoration: none;
	text-transform: none;
	&:hover{
	//	color: ;
	}
}

///////////////////////////
//////     LISTS     //////
///////////////////////////

// Main List Style //
ul {
	list-style: disc;
	margin: 0 0 0 15px;	
	padding: 0 0 15px;
	li {

	}
	a {
		text-decoration: none;
		&:hover {
			
		}
	}
}

ol {
	margin: 0 0 0 24px;	
	padding: 0 0 15px;
}

.pagination {
	list-style: none;
	margin: 15px 0;
	li {
		display: inline-block;
		margin-right: 10px;
		&:empty {
			display: none;
		}
	}
}


///////////////////////////////////
//////      PARAGRAPHS      ///////
///////////////////////////////////

p {
	margin: 0;
	line-height: 1.5em;
	padding-bottom: 15px;
	&:empty {
		display: none;
	}
}



///////////////////////////////////
//////     TEXT CLASSES     ///////
///////////////////////////////////

.text-center{
	text-align: center;
}

