////////////////////////////
//////     FOOTER     //////
////////////////////////////

#site-footer {	
	position: relative;

	.scroll-up a{
		background: url(../../images/icon-up-arrow-grey.png) no-repeat center center;
		display: inline-block;
		height: 50px;
		width: 50px;
		outline: 0;
		position: absolute;
		top: -25px;
		left: 50%;
		transform: translateX(-50%);
	}

	.columns-12{
		padding: 0;
	}

	.footer-wrap{
		background: $darkgrey;
		overflow: auto;
		max-width: 1170px;
		padding: 30px 75px;
		margin: 0 auto;
	}



	img{
		float: left;
		margin-right: 50px;
	}
	small {
		color: white;
		display: block;
		line-height: 1.4;
		text-align: left;
		width: 100%;
		padding: 10px 0;

		@include font-size(10);
		a {
			text-decoration: none;
			&:hover {

			}
		}
	}
}

#footer-nav {
	margin: 0;
	text-align: left;
	li {
		@include inline-block;
		+ li {
			margin-left: 20px;
		}
	}
	a {
		text-decoration: none;
		&:hover{
			// color:  ;
		}
	}
}