//////////////////////////////////
//////     BANNER & NAV     //////
//////////////////////////////////

// ----- top banner
.top-banner{
	text-align: right;
	background: $darkgrey;
	color: white;
	overflow: auto;
	
	.top-banner-tag{
		font-style: italic;
		float: left;
		@include font-size(17);
		padding: 10px 25px;
	}

	.neighbourhoods-link{
		float: right;
		text-transform: uppercase;
		@include archer(600);
		@include font-size(12);
		border-left: solid 1px $grey;
		padding: 12px 25px;
		cursor: pointer;

		&:after{
			content: "";
			background: url(../../images/icon-top-arrow.png) no-repeat center center;
			display: inline-block;
			padding-left: 15px;
			height: 21px;
			vertical-align: text-bottom;
			width: 25px;

		}

		&.opened{
			&:after{
				background: url(../../images/icon-top-arrow-opened.png) no-repeat center center;
			}
		}
	}

	p{
		padding: 10px 25px;
	}
}

#top-banner-flydown{
	background: $offblack;
	border-bottom: solid 7px $nearblack;
	display: none;
	overflow: auto;

	.text-intro{
		color: white;
		max-width: calc(100% - 720px);
		@include font-size(22);
		padding: 25px;
		float: left;
		line-height: 1;

		a{
			@include archer(600);
			color: $blue;
			text-transform: uppercase;
			@include font-size(12);
			text-decoration: none;
		}
		p{
			padding-bottom: 5px;
		}
	}
	.callouts{
		max-width: 50%;
		min-width: 720px;
		float: right;
		padding: 25px;

		ul{
			text-align: right;
			margin: 0;
			padding: 0;
		}

		li{
			display: inline-block;

			+li{
				padding-left: 25px;
			}
		}
		img{
			vertical-align: bottom;
		}
	}
}

.main-banner{
	position: relative;

	.home-logo{
		display: none;
	}
}

.home #masthead{
	background: white;

	.site-branding{
		min-height: 110px;

		img{
			display: none;
		}
	}

	.register-button{
		&:hover{
			color: white;
			background: $orange;

			&:before{
				border-right-color: $orange;
			}
		}
	}
}

#masthead{
	max-width: 1170px;
	background: $orange;
	margin: 0 auto;

	.site-branding{
		padding: 20px;
		min-width: 178px;

		img{
			vertical-align: bottom;
		}
	}

	.register-button{
		@include archer(600);
		@include font-size(16);
		background: $darkgrey;
		color: white;
		float: right;
		line-height: 14px;
		padding: 11px 15px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		left: 15px;
		top: 37px;


		&:before{
			content:'';
			display: block;
			position: absolute;
			height: 0;
			width: 0;
			border: solid 18px transparent;
			border-right-color: $darkgrey;
			left: -36px;
			top: 0;
			bottom: 0;
			@include ease();
		}

		&:hover{
			background: white;
			color: $darkgrey;

			&:before{
				border-right-color: white;
			}
		}
	}


}

// ----- utility menu
.menu-utility-menu-container {
	display: inline-block;
}


// ----- main menu
#site-navigation {
	text-align: right;
	position: static;
	// max-width: 830px;
	float: right;
	max-width: calc(100% - 178px);
}

#main-nav {
	display: inline-block;
	font-size: 0;
	margin: 0 0;
	padding: 0;
	padding-top: 15px;
	text-align: right;
	position: static;
	vertical-align: top;
	z-index: 2;
	margin-right: 35px;

	> li {
		@include inline-block;
		padding: 0;
		vertical-align: top;
		-webkit-transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
		transition:all 0.3s ease 0s;
		border-bottom: solid 10px transparent;
		line-height: 35px;
		// position: relative;

		+ li {
			margin-left: 30px;
		}
		&:hover {
			border-bottom: solid 10px $lightgrey;
			> a {
				color: white;
			}
		}

		&.current_page_item,
		&.current-menu-ancestor,
		&.current-menu-parent,
		&.current_page_parent,
		&.current_page_ancestor{
			border-bottom: solid 10px $lightgrey;
			.sub-menu{
				display: block;
				visibility: visible;
				opacity: 1;
				text-align: right;
				margin: 0;
				margin-right: 535px;
				padding: 0;

				li{
					display: inline-block;

					+li{
						margin-left: 40px;
					}

					&.current-menu-item{
						a{
							color: $darkgrey;
						}
					}
				}

				a{
					color: $grey;
					padding: 5px 0;
					vertical-align: top;

					&:hover{
						color: $darkgrey;
					}
				}
			}
			.custom-sub{

				background: $lightgrey;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -45px;
				z-index: 99;
				// height: 20px;
			}
		}
	}

	.fs-menu-item{
		position: relative;
	}

	.nav_desc{
		@include archer(600);
		color: red;
		display: inline-block;
		font-size: 10px;
		left: 0px;
		position: absolute;
		top: 12px;
		vertical-align: text-bottom;
		text-transform: uppercase;
	}

	a {
		@include font-size(16);
		@include archer(600);
		@include inline-block;
		color: white;
		padding: 27px 0;
		background: none;
		outline: 0;
	}

	.sub-menu{
		display: none;
	}
}

.home #main-nav a{
	color: $darkgrey;

	&:hover{
		color: $grey;
	}
}

// Mobile Menu
.mobile-nav-container {
	display: none;
	padding: 0;
}
.home .burger-trigger{
	span{
		background: $orange;
	}
}
.burger-trigger {
	background: none;
	display: none;
	height: 25px;
	padding-top: 4px;
	position: absolute;
	top: $gutter;
	right: $gutter;
	text-align: center;
	text-decoration: none;
	width: 40px;
	span {
		@include opacity(1);
		@include rotation(0deg);
		@include transition(0.1s);
		background: white;
		display: block;
		height: 3px;
		margin: 5px auto 0;
		position: relative;
		top: 0;
		width: 70%;
		transform-origin:50% 50%;
		transform-origin:50% 50%;
		-webkit-transform-origin:50% 50%;
	}
	&.open {
		span:nth-child(1){
			top: 8px;
			width: 60%;
			@include rounded(4px);
			@include rotation(-45deg);
		}
		span:nth-child(2) {
			width:0;
		}
		span:nth-child(3){
			@include rotation(45deg);
			width: 60%;
			top: -8px;
			@include rounded(4px);
		}
	}
}


.menu-slide {
	@include ease(0.2s);
	@include font-size(32);
	background: url(../../images/menu-slide.png) no-repeat;
	color: white;
	cursor: pointer;
	height: 13px;
	line-height: 1;
	// padding: 10px;
	position: absolute;
	top: 23px;
	right: 5%;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	width: 21px;
}

#mobile-nav {
	@include transition;
	background: $offwhite;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 5;

	li {
		@include transition;
		position: relative;
		text-align: center;
		text-transform: uppercase;

		+ li {
			border-top: 2px solid $bordergrey;
		}
	}
	a {
		font-size: 1rem;
		color: $darkgrey;
		display: block;
		font-weight: bold;
		padding: 20px 0 17px;
		&:hover {
			background: $lightgrey;
		}
	}
	.menu-slide {
		&.open {
			// top: 23px;
			transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			-webkit-transform:rotate(360deg);
		}
	}
	.sub-menu {
		border-top: solid 2px $bordergrey;
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		a{
			position: relative;
		}

		a:hover{
			background: $offwhite;
		}
		li {
			background: $lightgrey;
		}
		.sub-menu {
			li {
				background: $lightgrey;
			}
		}
	}
	.nav_desc{
		color: red;
		@include font-size(12);
		@include archer(600);
		padding-left: 25px;
		position: absolute;
	}

	&.aside {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
}

.mobile-nav-container {
	a {
		color: white;
		display: block;
		text-decoration: none;
	}
	.contact-phone,
	.contact-email {
		@include font-size(20);
		display: block;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		a {
			padding: 20px 0;
		}
	}
	.contact-phone {
		background: url(../../images/icon-phone.png) no-repeat 5% center shade($blue, 10%);
		color: white;
		
	}
	.contact-email {
		background: url(../../images/icon-email.png) no-repeat 5% center shade($blue, 20%);
	}
	.social-menu {
		background: $blue;
		
		li {
			padding-top: 15px;
			text-align: center;
			+ li {
				border-left: 2px solid shade($blue,10%);
			}
		}
		a {
			@include font-size(42);
		}
	}
	[class*="block-grid-"] {
		margin-right: 0;
		margin-left: 0;
	}
	.block-grid-2 {
		li {
			&:nth-of-type(2n+1) {
				border-left: none;
			}
		}
	}
}