///////////////////////////////
//////     HOME PAGE     //////
///////////////////////////////

#home-slideshow{
	.flexslider{
		background: $orange;

		p{
			@include archer(400);
			color: white;
			@include font-size(40);
			line-height: 1.1;
		}
		.image-wrap{
			padding: 0;
			width: 70.567%;
		}

		.text-wrap{
			padding: 35px 50px 35px 65px;
			width: 29.433%;
		}

		img{
			display: block;
			width: 100%;
		}
	}
}

#home-intro{
	background: $grey;
	color: white;
	padding: 60px 15px;
	text-align: center;
	position: relative;
	@include scrolldown(grey);

	h1,h2{
		padding-bottom: 15px;
	}

	p{
		font-style: italic;
		@include font-size(20);
	}



	.button{
		@include archer(600);
		background: $lightorange;
		color: $grey;
		text-transform: uppercase;
		margin: 15px 0;
		padding: 10px 50px;
		border: none;
		position: relative;

		&:hover{
			background: $orange;
			color: white;
		}

		&:before,
		&:after{
			content:'';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			border: 20px solid transparent;

		}
		&:before{
			right: 0px;
			border-right-color: $grey;
		}
		&:after{
			left: 0px;
			border-left-color: $grey;
		}
	}
}

#home-featured{
	overflow: auto;

	.text-wrap{
		// max-width: 50%;
		width: 585px;
		float: right;
		padding: 100px;
	}

	.mobile-image{
		display: none;
	}

	.button{
		margin-right: 15px;
	}

	p{
		color: white;
	}
}

#home-callout{
	background: white;
	padding: 75px;

	h1,h2,h3,h4,h5{
		color: $darkgrey;
		@include archer(300);
	}

	.button{
		@include button(orange);
	}

	.text{
		padding-right: 75px;
	}
}


///////////////////////////
//////     PAGES     //////
///////////////////////////



#content,
.content-area{
	padding:0;
	max-width: 1170px;

}


#hero-banner{
	min-height: 350px;
	position: relative;

	@include scrolldown(white);

	h1{
		color: white;
		font-weight: 600;
		text-transform: none;
		padding-top: 175px;
	}
}

.page-wrap{
	background: white;
}

article.page-content{
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	padding: 75px 25px;
	position: relative;

	@include scrolldown(white);

	h1,h2,h3,h4,h5,h6,p{
		color: $grey;
	}

}
#link-repeater{
	padding: 0 65px;
	padding-bottom: 100px;

	ul{
		margin: 0;
	}
	li{
		position: relative;
	}

	.link-title{
		position: absolute;
		bottom: 0;
		left: 15px;
		@include font-size(16);
		background: $lightorange;
		color: $darkgrey;
		padding: 5px 10px;
	}

	a{
		&:hover{
			opacity: .7;
		}
	}

	img{
		vertical-align: bottom;
		display: block;
	}
}

#bottom-image{
	img{
		display: block;
	}
}

.page-button{
	@include archer(600);
	@include font-size(16);
	background: $lightorange;
	color: $grey;
	text-transform: uppercase;
	margin: 25px 0;
	padding: 10px 35px;
	position: relative;
	text-decoration: none;
	display: inline-block;

	&:hover{
		background: $orange;
		color: white;
	}

	&:before,
	&:after{
		content:'';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 25px;
		// border: 20px solid transparent;

	}
	&:before{
		right: 0px;
		background: url(../../images/banner-cover-right.png) no-repeat right center;
		// border-right-color: white;
	}
	&:after{
		background: url(../../images/banner-cover-left.png) no-repeat right center;
		left: 0px;
		// border-left-color: white;
	}
}




/////////////////////////////
////     COMING SOON     ////
/////////////////////////////

.page-template-pages_coming_soon-php{
	.bottom-image{
		img{
			display: block;
			width: 100%;
		}
	}
}

/////////////////////////////
////   FEATURES FINISHES ////
/////////////////////////////

.page-template-pages_features-php{
	.page-content{
		padding-top: 75px;
	}
	.page-button{
		min-width: 275px;
	}
	.bottom-image{
		img{
			display: block;
			width: 100%;
		}
	}
}

#finish-callouts{
	background: $offwhite;

	.grid-wrap{	
		padding: 75px;
		@include font-size(16);

		ul ul{
			margin: 0;
		}
		.mobile-image{
			display: none;
		}

		li li {
			list-style: none;
			// padding-bottom: 5px;
			line-height: 1.7;

			&:before{ 
				content:"•"; 
				padding-right: 5px;
			}
		}
	}

	.image-block{
		margin: 0;

		li{
			padding: 0;

			img{
				vertical-align: bottom;
			}
		}
	}

	h3{
		@include font-size(26);
		color: $grey;
	}
}



///////////////////////////////
/////     Floorplans      /////
///////////////////////////////

.floorplan-intro{
	background: $darkgrey;
	
	.page-content{
		max-width: 725px;
		padding-top: 75px;

		h1,h2,h3,h4,h5,h6,p{
			color: white;
		}
	}
}

.fancybox-skin{
	padding: 0 !important;
}

.fancybox-wrap .fancybox-title-float-wrap .child {
	@include archer(100);
	@include font-size(18);
	padding: 15px 25px;
	display: block;
}

.fancybox-wrap{
	margin-top: 50px !important;
}

.fancybox-wrap .fancybox-desktop .fancybox-type-inline .fancybox-opened{
	max-width: 100%;
	width: 100% !important;
}

.page-template-pages_floorplans-php{

	article.page-content{
		padding-top: 150px;

	}

	.page-button{
		min-width: 275px;
	}
	

	.fancybox-inner{
		// width: 1160px !important;
		// max-width: 100%;
		overflow: auto !important;
	}
	.bottom-image{
		img{
			display: block;
			width: 100%;
		}
	}
}

.fancybox-inner{
	background: white;

	.floor-plan-images{
		padding: 50px;
	}

	.top-panel{
		overflow: auto;
		background: $offwhite;
		position: relative;
	}
	.general-info{
		width: 50%;
		float: left;
		background: $orange;
		color: white;
		padding: 30px 40px;
		max-width: 500px;

		h1{
			float: left;
			@include archer(300);
			@include font-size(84);
			padding: 0;
			line-height: .8;
			margin-right: 15px;
		}
		h3{
			@include archer(300);
			@include font-size(22);
			text-transform: uppercase;
			padding: 0;
		}
		p{
			padding: 0;
			@include font-size(16);
		}
	}

	ul{
		margin: 0;
	}
	.location-info{
		width: 50%;
		float: left;
		background: $offwhite;
		padding: 30px;

		h3{
			@include archer(700);
			color: $darkgrey;
			@include font-size(22);
			padding-bottom: 0;
		}
		p{
			padding: 0;
			color: $orange;
		}
	}

	.download-link{
		@include archer(600);
		@include font-size(16);
		background: $darkgrey;
		color: white;
		float: right;
		padding: 8px 15px;
		position: absolute;
		text-decoration: none;
		text-transform: uppercase;
		right: 0;
		top: 37px;


		&:before{
			content:'';
			display: block;
			position: absolute;
			height: 0;
			width: 0;
			border: solid 18px transparent;
			border-right-color: $darkgrey;
			left: -36px;
			top: 0;
			bottom: 0;
			@include ease();
		}

		&:hover{
			background: $orange;
			color: white;

			&:before{
				border-right-color: $orange;
			}
		}
	}

	.floor-plan-images{
		li{
			text-align: center;
		}
	}

	.bottom-panel{
		padding: 40px;
		position: relative;

		.panel-compass{
			display: block;
			width: 50px;
			height: 50px;
			position: absolute;
			top: -25px;
		}

		ul{
			max-width: 55%;
			margin-bottom: 0;
		}

		.fancy-footer{
			max-width: 35%;
			@include archer(100, italic);
			@include font-size(16);
			position: absolute;
			bottom: 40px;
			right: 40px;
			padding: 0;

		}
	}
}

#floorplans{
	position: relative;
}

#area-map-controls{
	position: absolute;
	background: $orange;
	z-index: 10;
	bottom: 50px;

	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	a{
		display: block;
		width: 100%;
		text-align: center;
		padding: 25px 15px;
		background: white;
		color: $darkgrey;
		@include font-size(20);

		&.active,
		&:hover{
			background: $orange;
			color: white;
		}
	}

	.title{
		background: $darkgrey;
		color: white;
		@include font-size(16);
		@include archer(600);
		padding: 10px 25px;
		text-transform: uppercase;
	}
}

#area-maps{
	.area-map{
		position: relative;
		display: none;

		&.active{
			display: block;
		}

		.image-map{
			vertical-align: bottom;
			display: block;
			width: 100%;
		}
	}
	.homes .title{
		background: $darkgrey;
		color: white;
		@include font-size(16);
		@include archer(600);
		padding: 10px 25px;
		text-transform: uppercase;
		display: none;
	}
	.homes-list{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.single-home{
		position: absolute;
		opacity: 0;

		&.sold{
			opacity: 1;
		}

		.mobile-content{
			display: none;
			
			h3{
				text-transform: uppercase;
				@include font-size(22);
				padding-bottom: 0;
				font-weight: 600;
			}
			p{
				@include font-size(18);
				font-weight: 100;
				padding: 0;
				color: white;
			}
		}

		&.active,
		&:hover{
			opacity: 1;
			.hover{
				display: block;
				z-index: 99;
			}
		}


	}

	.split-home{
		// background: none repeat scroll 0 0 red;
		display: block;
		// height: 65px;
		height: 8.6%;
		position: absolute;
		// width: 100px;
		width: 8.55%;
		cursor: pointer;

		&.block-1{
			left: 77.5%;
			top: 71%;
			// background: red;
		}
		&.block-2{
			left:77.5%;
			top:79%;
			// background: blue;
			&:hover{
				// top: 71%;
			}
		}
		&.block-3{
			left: 71.4%;
    		top: 69.7%;
    		width: 6.1%;
    		// width: 72px;
			// background: red;
			&:hover{
				// height: 65px;
			}
		}
		&.block-4{
			top:78%;
			left: 71.4%;
			width: 6.1%;
    		// width: 72px;
			// background: blue;
			&:hover{
				// top: 69.6%;
				// height: 65px;
			}
		}

		&:hover{
			// height: 126px;
			z-index: 50;
		}

	}

	.fancy-floorplan {		
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.hover{
		background: $lightorange;
		// left: -71%;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		// top: -80px;
		bottom: 60px;
		width: 140px;
		border: solid 2px white;
		// border-radius: 8px;
		padding: 15px;
		display: none;

		&:after{
			content:"";
			background: url(../../images/home-hover-arrow.png) no-repeat center center;
			bottom: -19px;
			display: block;
			height: 25px;
			left: 36%;
			position: absolute;
			width: 25px;
		}

		h4{
			@include font-size(20);
		}
		p{
			@include font-size(14);
			padding: 0;
		}
	}
}


///////////////////////////////
/////   NEIGHBOURHOODS    /////
///////////////////////////////

.neighbourhood-popup{
	padding: 25px 0;
	text-align: center;
}
.page-template-_neighbourhoods{
	.page-content{
		max-width: 100%;

		h3,
		.entry-content{
			max-width: 700px;
			margin: 0 auto;
		}
	}
	.gallery-block{
		padding-bottom: 15px;
	}
}
#map-intro{
	background: $grey;
	color: white;
	padding: 60px 25px;
	text-align: center;
	position: relative;
	@include scrolldown(grey);

	h1,h2{
		padding-bottom: 0px;
		letter-spacing: 0.02em
	}
	h3{
		letter-spacing: 0.06em;
	}

	p{
		font-style: italic;
		@include font-size(20);
	}



	.button{
		@include archer(600);
		background: $lightorange;
		color: $grey;
		text-transform: uppercase;
		margin: 15px 0;
		padding: 10px 50px;
		border: none;
		position: relative;

		&:hover{
			background: $orange;
			color: white;
		}

		&:before,
		&:after{
			content:'';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 25px;
			// border: 20px solid transparent;

		}
		&:before{
			right: 0px;
			background: url(../../images/banner-cover-right-grey.png) no-repeat right center;
			// border-right-color: white;
		}
		&:after{
			background: url(../../images/banner-cover-left-grey.png) no-repeat right center;
			left: 0px;
			// border-left-color: white;
		}
	}
}

#map-filters{
	margin-top: -43px;
}
#neighbourhood-map{
	background: $orange;
	.tabs{
		.slider-thumbs{
			margin: 0 0 -1px;
			padding: 0;
			text-align: center;
			
			li {
				@include archer(600);
				@include font-size(14);
				background: white;
				cursor: pointer;
				display: inline;
				display: inline-block;
				line-height: 1;
				padding: 15px 30px;
				position: relative;
				z-index: 1;
				color: $grey;

				+li{
					margin-left: 30px;
				}

				&.flex-active {
					background: $orange;
					color: white;
				}
			}
		}
		.slides{
			>li{
				@include archer(600);
				@include font-size(12);
				// background: $orange;
				line-height: 1.4;
				padding: 35px 75px;

				ul{
					margin: 0;

					li{
						padding-bottom: 15px;
					}
				}

				a{
					color: white;
				}

			}
		}
	}

	.accordions{
		display: none;
	}

	.accordion {

		padding-bottom: 0;

		h5 {
			padding-bottom: 15px;
		}
		.title {
			cursor: pointer;
			border-bottom: 1px solid #c8c8c8;  /* Forge Default Style */
			font-weight: 700; /* Forge Default Style */
			padding-top: 15px;  /* Forge Default Style */
			margin-bottom: 0px;  /* Forge Default Style */
			position: relative;
			text-transform: uppercase; /* Forge Default Style */
			// padding-right: 45px; 
			text-align: center;
			background: white;

			h5{
				color: $darkgrey;
			}
			&:after {
				@include font-size(18);
				content: '+';
				font-weight: 400;
				position: absolute;
				top: 11px;
				right: 10px;
				text-align: center;
				width: 25px;
			}
		}
		.content {
			display: none;
			font-style: italic; /* Forge Default Style */
			padding-bottom: 15px;

			p:last-child {
				padding-bottom: 0;

			}
			ul{
				margin: 0;
			}
			li{
				background: $orange;
				line-height: 1;
				padding-bottom: 10px;
				// line-height: 32px;
				// padding: 35px 75px;

				a{
					color: white;
					@include archer(600);
					@include font-size(12);
				}
			}
		}
		.flex-active {
			.title {
				position: relative;
				background: $orange;
				h5{
					color: white;
				}
				&:after {
					content:'-';
					color: white;
				}
			}
			.content {
				display: block;
				padding-top: 20px;
				background: $orange;

				li{
					background: none;
				}

				a{
					color: white;
				}
			}
		}
	}

	ul.accordion {
		list-style: none;
		margin: 0px;
		> li {
			// padding-bottom: 20px;
		}
	}

	#map{
		min-height: 500px;

		img{ 
			max-width: none; 
		}

	}
}

//////// INFO BOX 

#map{
	.gm-style-iw{
		height: auto !important;
	}
	.info-box{
		padding-bottom: 5px;
		overflow: auto;
		height: 50px;
		display: table-cell;
		vertical-align: middle;
	}
}

///////

#bottom-callouts{
	background: white;

	.bottom-row{
		padding: 65px 75px;

		h3{
			@include font-size(36);
			color: $darkgrey;
			font-weight: 100;
			padding-bottom: 10px;
		}
		h5{
			@include font-size(14);
			text-transform: none;
			padding-bottom: 10px;
		}
		p{
			@include font-size(18);
		}

		&:nth-of-type(even){
			.image-column{
				@include shift-right(5);
			}
			.text-column{
				@include shift-left(7);
			}
		}
		+ .bottom-row{
			border-top: solid 1px $bordergrey;
		}
	}
	.image-column{
		width: 55.33333%;
	}
	.text-column{
		width: 43.66667%;
	}
}

///////////////////////////////
/////   GALLERY PAGE     //////
///////////////////////////////

.gallery-block{
	background: white;
	padding: 80px;
	text-align: center;
	position: relative;
	@include scrolldown(white);

	&:nth-of-type(even){
		background: $offwhite;
		@include scrolldown(lightgrey);
	}

	h3{
		color: $grey;
	}

	p{
		max-width: 675px;
		margin: 0 auto;
		@include font-size(18);
	}

	img{
		vertical-align: bottom;
	}

	.introduction{
		padding-bottom: 50px;
	}

	.gallery-row{
		padding-bottom: 30px;
	}

	.page-button{
		margin-bottom: 0;
	}


}


///////////////////////////////
//////  CONTACT PAGE     //////
///////////////////////////////

#contact-details{
	background: white;
	padding: 75px 25px 50px;
	text-align: center;

	.page-button{
		@include font-size(24);
		padding: 10px 100px;
	}
	.page-button-wrap{
		margin-bottom: 25px;
	}

	.label{
		@include archer(700);
		@include font-size(16);
		// color: ;
		line-height: 1;
		margin: 0;
		padding-bottom: 15px;
		text-transform: uppercase;
		color: $darkgrey;
	}

	p{
		color: $grey;
	}

	.info-block{
		padding-bottom: 25px;

		h3{
			padding-bottom: 0;
		}
	}

	h1,h2,h3,h4,h5,h6{
		color: $orange;

		a{
			color: $orange;

			&:hover{
				color: $lightorange;
			}
		}
	}
}
#map{
	img{
		vertical-align: bottom;
	}
}

#map-box{
	position: relative;
	height: 400px;

	iframe{
		height: 100%;
		width: 100%;
	}

	img{
		max-width: none;
	}

	.acf-map{
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
	}
}
//////////////////////////////
////   REGISTER PAGE     /////
//////////////////////////////

#register-header{
	background: white;
	text-align: center;
	padding: 0 5px;

	h1{
		color: $orange;
		@include archer(600);
		@include font-size(34);
		text-transform: uppercase;
		padding: 35px 0;

		span{
			@include archer(100, italic);
			text-transform: none;
		}
	}
}

#registerpage-content{
	background: $grey;
	text-align: center;

	p{
		@include font-size(12);
		color: white;
	}
}

#form-container{
	max-width :625px;
	margin: 0 auto;
	padding: 75px 25px;

	table{
		width: 100%;
	}

	.intro-text{
		padding: 5px; 
	}
	
	.formContainerTable,
	.containerTable{
		margin: 0 auto;
	}

	h2{
		@include font-size(22);
		@include archer(100);
		color: white;
		line-height: 1.3;
		padding-bottom: 50px;
	}

	tr{
		vertical-align: middle;
	}

	.radioGroup{
		text-align: left;
		margin-bottom: 15px;

		form-label{
			padding-right: 10px;
			color: white;
		}
	}
	.security-code{
		color: white;
		text-transform: uppercase;
		@include font-size(12);
		text-align: left;
		font-weight: 600;

		input{
			@include font-size(20);
		}
	}
	.form-label{
		// float: left;
		color: white;
		text-transform: uppercase;
		@include font-size(12);
		width: 200px;
		text-align: left;
		font-weight: 600;
		padding: 10px 0;
		vertical-align: center;
		padding-right: 25px;
	}
	textarea,
	input[type=text]{
		width: 100% !important;
		margin-bottom: 15px;
	}

	select{
		width: 100% !important;
	}

	.form-row{
		max-width: 450px;
		margin: 0 auto;
	}

	.question-block{
		padding-bottom: 15px;
		overflow: auto;
	}
}
#submit-btn{
	button{
		@include archer(600);
		background: $lightorange;
		color: $grey;
		text-transform: uppercase;
		margin: 15px 0;
		padding: 10px 50px;
		border: none;
		position: relative;
		margin-top: 50px;

		&:hover{
			background: $orange;
			color: white;
		}

		&:before,
		&:after{
			content:'';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 25px;
			// border: 20px solid transparent;

		}
		&:before{
			right: 0px;
			background: url(../../images/banner-cover-right-grey.png) no-repeat right center;
			// border-right-color: white;
		}
		&:after{
			background: url(../../images/banner-cover-left-grey.png) no-repeat right center;
			left: 0px;
			// border-left-color: white;
		}
	}
}


//////////////////////////////
//////     404 PAGE     //////
//////////////////////////////

.error-404 {
	background: white;
	padding: 100px 25px;

	.entry-title {
		@include font-size(82);
		text-align: center;
	}
	.entry-content {
		text-align: center;
		p {
			@include font-size(36);
			font-style: italic;
			line-height: 72px;
		}
	}
	.s404 {
		input[type=submit] {
			
		}
	}
}