/////////////////////////////
//////     PLUGINS     //////
/////////////////////////////

// List of plugins
// 1: 
// 2: Flexslider
// 3: Tribe Events [custom/overrides]
// 4: WooCommerce [custom/overrides]


////////////////////////////////
//////     1:     //////
////////////////////////////////


//////////////////////////////////
//////     2:FLEXSLIDER     //////
//////////////////////////////////

 
// Browser Resets //
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	list-style: none;
	margin: 0; 
	padding: 0; 
} 

// FlexSlider Necessary Styles
//*********************************//
.flexslider {
	margin: 0; 
	padding: 0;
	.slides > li {
		display: none; 
		-webkit-backface-visibility: hidden;
	} // Hide the slides before the JS is loaded. Avoids image jumping //
	.slides .image-wrap img {
		display: block;
		width: 100%; 
	}
}

.flex-pauseplay span {text-transform: capitalize;}

// Clearfix for the .slides element //
.slides:after {
	clear: both; 
	content: ".";
	display: block; 
	height: 0;
	line-height: 0; 
	visibility: hidden; 
} 

html[xmlns] .slides {
	display: block;
} 

* html .slides {
	height: 1%;
}

// No JavaScript Fallback //
// If you are not using another script, such as Modernizr, make sure you
// include js that eliminates this class on page load
.no-js .slides > li:first-child {
	display: block;
}


// FlexSlider Default Theme
//*********************************//
.flexslider {
	margin: 0 0;
	position: relative;
	zoom: 1;
	.slides {
		zoom: 1;
	}
}

.flex-viewport {
	@include ease(1s);
	max-height: 2000px;
	// -webkit-transition: all 1s ease;
	// -moz-transition: all 1s ease;
	// transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}

.carousel li {
	margin-right: 5px
}

// Direction Nav
.flex-direction-nav {
	*height: 0;
	a {
		@include ease;
		background: black;
		background:rgba(0,0,0,.5);
		cursor: pointer;
		display: block;
		height: 85px;
		margin-top:-42px;
		position: absolute;
		top: 50%;
		text-indent: -9999px;
		width: 75px;
		z-index: 10;
	}
	.flex-next {
		background-position: 100% 0;
		right: 0px;
		&:after{
			background-image: url('../../images/slider-next.png');
			background-position: center center;
			background-repeat: no-repeat;
			content:'';
			display: block;
			position: absolute;
			top:0px;
			left:0px;
			bottom:0px;
			right:0px;	
		}
	}
	.flex-prev {
		left: 0px;
		&:after{
			background-image: url('../../images/slider-prev.png');
			background-position: center center;
			background-repeat: no-repeat;
			content:'';
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
		}
	}
}

.flexslider {
	&:hover {
		.flex-prev,
		.flex-next {
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.flex-direction-nav .flex-disabled {
	cursor: default;
	filter:alpha(opacity=30); 
	opacity: .3!important; 
}

// Control Nav
.flex-control-nav {
	position: absolute;
	text-align: right;
	width: 100%;

	right: 15px;
	bottom: 15px;
	z-index: 99;


	li {
		*display: inline;
		display: inline-block;
		margin: 0 6px;
		text-align: center;
		zoom: 1;
		vertical-align: bottom;
		
		a {
			@include rounded(50%);
			background: none;
			cursor: pointer;
			display: block;
			height: 15px;
			text-indent: -9999px;
			width: 15px;
			border: solid 1px white;
			&:hover { 
				background: white; 
			}
			&.flex-active { 
				background: white; 
				cursor: default; 
			}
		}
	}
}

.flex-control-thumbs {
	margin: 5px 0 0;
	overflow: hidden;
	position: static;
	li {
		float: left;
		margin: 0;
		width: 25%;
	}
	img {
		cursor: pointer;
		display: block;
		opacity: .7;
		width: 100%;
		&:hover {
			opacity: 1;
		}
	}
	.flex-active {
		cursor: default;
		opacity: 1; 
	}
}

@media screen and (max-width: 1075px) {
	.flex-direction-nav .flex-prev {
		opacity: 1; 
		left: 0;
	}
	.flex-direction-nav .flex-next {
		opacity: 1; 
		right: 0;
	}
}


/* 
 * Default slideshow styles
 */ 
 $slider-height: 450px !default;

.slideshow-wrapper {
	.slides {
		position: relative;
		> li {
			position: relative; 
			min-height: $slider-height; 
		}
	}
	.text-container {
		display: block;
		padding: 20px;
		position: absolute;
		top: 40%;
		text-align: center;
		width: 100%;
		h1, p {
			color: white;
		}
		h1 {
			@include font-size(72);
			padding-bottom: 0;
		}
		p {
			@include font-size(32);
			font-style: italic;
		}
	}
}


///////////////////////////////////
//////    3:FANCY BOX        //////
///////////////////////////////////

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	border: 0;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	// @include rounded(4px);
	background: #f9f9f9;
	color: #444;
	padding: 0 !important;
	position: relative;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
	.fancybox-skin {
		@include drop-shadow(1px,1px,55px,0.75);
	}
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	height: 100%;
	width: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading {
	background-image: url(../../images/fancybox/fancybox_sprite.png);
}

#fancybox-loading {
	background-position: 0 -108px;
	cursor: pointer;
	margin-top: -22px;
	margin-left: -22px;
	opacity: 0.8;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 8060;
	div {
		background: url(../../images/fancybox/fancybox_loading.gif) center center no-repeat;
		height: 44px;
		width: 44px;
	}
}

.fancybox-close {
	background: url(../../images/fancybox/close.jpg) no-repeat;
	cursor: pointer;
	height: 40px;
	position: absolute;
	top: -40px;
	right: 0;
	width: 40px;
	z-index: 8040;
}

.fancybox-nav {
	background: transparent url(../../images/fancybox/blank.gif); /* helps IE */
	cursor: pointer;
	height: 100%;
	position: absolute;
	top: 0;
	width: 40%;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
	span {
		cursor: pointer;
		height: 85px;
		position: absolute;
		top: 50%;
		margin-top: -42px;
		// visibility: hidden;
		width: 85px;
		z-index: 8040;
		
	}
	// &:hover span {
	// 	visibility: visible;
	// }
}

.fancybox-prev {
	left: 0;
	span {
		background: url(../../images/fancybox/fancybox_prev.png) no-repeat;
		// background-position: 0 -36px;
		left: -125px;
	}
}

.fancybox-next {
	right: 0;
	span {
		background: url(../../images/fancybox/fancybox_next.png) no-repeat;
		// background-position: 0 -72px;
		right: -125px;
		
	}
}

.fancybox-tmp {
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
	position: absolute;
	top: -99999px;
	left: -99999px;
}

/* Overlay helper */
.fancybox-lock {
	overflow: visible !important;
	width: auto;
	body {
		overflow: hidden !important;
	}
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	background: url(../../images/fancybox/fancybox_overlay.png);
	display: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8010;
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	// visibility: hidden;
	// font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	// position: relative;
	// text-shadow: none;
	// z-index: 8050;
	// display: none;
}

.fancybox-opened .fancybox-title {
	// visibility: visible;
}

.fancybox-title-float-wrap {
	// margin-bottom: -35px;
	// position: absolute;
	// right: 50%;
	// bottom: 0;
	// text-align: center;
	// z-index: 8050;
	// .child {
	// 	@include rounded(15);
	// 	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	// 	background: rgba(0, 0, 0, 0.8);
	// 	color: #FFF;
	// 	display: inline-block;
	// 	font-weight: bold;
	// 	line-height: 24px;
	// 	margin-right: -100%;
	// 	padding: 2px 20px;
	// 	text-shadow: 0 1px 2px #222;
	// 	white-space: nowrap;
	// }
}

.fancybox-title-outside-wrap {
	color: #fff;
	margin-top: 10px;
	position: relative;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	background: #000;
	background: rgba(0, 0, 0, .8);
	color: #fff;
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading {
		background-image: url(../../images/fancybox/fancybox_sprite@2x.png);
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url(../../images/fancybox/fancybox_loading@2x.gif);
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

///////////////////////////////////
//////     4:WOOCOMMERCE     //////
///////////////////////////////////