///////////////////////////////
//////     MEDIA Q'S     //////
///////////////////////////////

@media screen and (max-width:1155px){

	#home-slideshow{
		.flexslider{
			.text-wrap{
				padding: 25px;
				p{
					@include font-size(30);
				}
			}
		}
	}

}

@media screen and (max-width:1010px){

	#top-banner-flydown{
		background: $offblack;
		border-bottom: solid 7px $nearblack;
		display: none;
		overflow: auto;

		.text-intro{
			width: 100%;
			max-width :100%;
			br{
				display: none;
			}
		}
		.callouts{
			max-width: 100%;
			min-width: 100%;

			ul{
				text-align: center;
			}
		}
	}

	#masthead .register-button{
		left: auto;
		position: absolute;
		right: 0;
		@include font-size(12);
		padding: 8px 15px;
		&:before{

			left: -30px;
			border-width: 15px;
		}
	}
	.menu-main-menu-container{
		// text-align: left;
		max-width: 100%;
		text-align: right;
		padding-right: 130px;
		display: none;
	}
	#main-nav{
		li + li{
			margin-left: 15px;
		}
		a{
			@include font-size(16);
		}

		> li.current_page_item, 
		> li.current-menu-ancestor,
		> li.current-menu-parent, 
		> li.current_page_parent, 
		> li.current_page_ancestor{
			.sub-menu{
				margin: 0;
				margin-left: 200px;
				text-align: left;
				a{
					@include font-size(16);
				}
			}
		}

		
	}

	// #site-navigation{
	// 	max-width: 100%;
	// 	width: 100%;

	// 	.sub-menu{
	// 		margin-right: 0 !important;
	// 		text-align: center !important;
	// 	}
	// }

	// #main-nav{
	// 	width: 100%;
	// 	text-align: center;
	// 	padding: 0;
	// 	margin: 0;

	// 	a{
	// 		padding-top: 0;
	// 	}
	// }

	#link-repeater{
		padding: 0 25px 100px;
	}
}

@media screen and (max-width: 975px){

	#home-featured{

		
		.text-wrap{
			width: 100%;
			background: $grey;
			padding: 50px;
		}
		.mobile-image{
			display: block;
		}
	}
	

	#neighbourhood-map{
		.tabs .slider-thumbs li + li{
			margin-left: 15px;
		}
	} 
	#home-callout{
		padding: 50px 35px;

		.row{
			margin: 0;
		}
		.text-column,
		.image-column{
			width: 100%;

		}
		.text-column{
			padding-right: 15px;
			margin-bottom: 25px;
		}
	}
	#site-footer{
		.footer-wrap{
			padding: 30px 50px;
		}
	}

}
@media screen and (max-width: 900px){

	#main-nav{
		li + li{
			margin-left: 10px;
		}
		a{
			@include font-size(12);
		}
	}

	#home-slideshow{
		.flexslider{
			.text-wrap{
				padding: 15px 15px 0 15px;
				p{
					@include font-size(14);
				}
				img{
					max-width: 75%;
				}
			}
		}
	}

	#finish-callouts{

		.grid-wrap{
			padding: 50px 25px;
		}
		.block-grid-3{
			>li{
				width: 100%;
				margin-bottom: 50px;
				// padding: 0;
			}
		}
		.image-block{
			display: none;
		}
	}

	#neighbourhood-map{
		.tabs .slider-thumbs li {
			padding: 15px;
		}
	} 
	#neighbourhood-map .tabs .slides > li{
		padding: 35px 25px;
	}

	.gallery-block{
		padding: 80px 50px;
	}

	#bottom-callouts{
		.bottom-row{

			.row{
				margin: 0;
			}
			padding: 25px;
		}
	}



.fancybox-inner{

	.general-info{
		width: 100%;
		max-width: none;
	}
	.location-info{
		width: 100%;
		min-width: 100%;
	}

	.floor-plan-images{
		padding: 50px 10px;
	}

	.download-link{
		top: 165px;
	}
	.bottom-panel{

		ul{
			max-width: 100%;
			width: 100%;

			li{
				text-align: center;
				margin-bottom: 25px;
			}
		}

		.fancy-footer{
			max-width: 100%;
			width: 100%;
			text-align: center;
			position: static;
		}
	}
}

}

/* FLOORPLANS ONLY */
@media screen and (max-width: 768px){
	#floorplans{
		background: $offwhite;

		#area-map-controls{
			position: static;
			width: 100%;
			overflow: auto;
			background: $offwhite;
			padding: 25px;

			li{
				width: 50%;
				float: left;
			}
		}

		.title{
			text-align: center;
		}

		#area-maps{
			.single-home{
				display: none;
				background: $grey;
				position: static;
				opacity: 1;
				width: 50% !important;
				height: auto;
				float: left; 
				background: $grey !important;
				color: white;
				border: solid white 1px;
				padding: 15px 10px;
				position: relative;
				left: 0 !important;
				top: 0 !important;

				&:hover{
					background: $darkgrey !important;
					.hover{
						display: none ;
					}
				}

				&.new_home_type{
					display: block;
					&.odd{
						clear: both;
					}
		
				}

				.mobile-content{
					display: block;
				}

				.fancy-floorplan{

				}
			}
			.split-home{
				display: none;
			}
			.homes{
				padding: 25px;
				margin-bottom: 25px;
				overflow: auto;

				.title{
					display: block;
				}
			}
		}
	}
}


@media screen and (max-width:767px){

	h1{
		@include font-size(36);
	}
	
	// header
	.top-banner {
		.neighbourhoods-link{
			display: none;
		}
		.top-banner-tag{
			text-align: left;
			@include font-size(12);
		}
	}

	#top-banner-flydown{
		display: none !important;
	}

	#masthead {

		.register-button {
	   		top: 20px;
		}

		.site-branding{
			padding-bottom: 35px;
		}
	}

	.home{
		#masthead{
			.site-branding{
				min-height: 125px;

				.home-logo{
					display: block;
				}
			}
		}
	}

	.menu-main-menu-container {
		// display: none;
	}

	#site-navigation{
		height: 0;
	}

	#main-nav{
		> li {
			>a{
				display: none;
			}

			&.current_page_item,
			&.current-menu-ancestor,
			&.current-menu-parent,
			&.current_page_parent,
			&.current_page_ancestor{
				border-bottom: solid 10px $lightgrey;

				.custom-sub{
					bottom: -90px;
				}
				.sub-menu{
					text-align: left !important;
					margin: 0 20px;

					li{
						display: block;

						+li{
							margin: 0;
						}
					}
				}

			}
		}
	}
	
	.mobile-trigger {
		display: block;
		top: 60px;
	}

	.flex-control-nav li a {
	    height: 10px;
	    width: 10px;
	}


	// pages
	.site-content,
	.widget-area {
		@include columns(12);
	}

	#home-intro{
		p {
		    @include font-size(14);
		}
		h2{
			@include font-size(24);
		}
	} 


	#home-featured{

		.text-wrap{
			padding: 25px;
		}
	}

	article.page-content h3{
		word-wrap: break-word;
	}

	#home-callout{
		padding: 25px 10px;

		.h3{
			word-wrap: break-word;
			@include font-size(32);
		}
	}
	#site-footer{
		.footer-wrap{
			padding: 30px 25px;

			.columns-3{
				padding: 0;
				width: 100%;
				margin-bottom: 15px;
			}
			.columns-9{
				padding: 0;
				width: 100%;
			}
		}
		small{
			@include font-size(14);
		}
	}

	.gallery-block{
		padding: 80px 25px;

		.block-grid-3{
			li{
				margin-bottom: 15px;
				width: 100%;

				img{
					width: 100%;
				}
			}
		}
	}

	#link-repeater{
		padding: 0 15px 100px;

		ul{

			text-align: center;
		}

		li{
			width: auto;
			display: inline-block;
			margin-bottom: 25px;
			float: none;
		}
	}

	#bottom-callouts{
		.bottom-row{
			padding: 25px 15px;

			.image-column,
			.text-column{
				@include resized-columns(12);
				margin-bottom: 25px;
			}
			&:nth-of-type(even){

				.image-column,
				.text-column{
					@include resized-columns(12);
				}
			}

			.image-column{
				img{
					width: 100%;
				}
			}
		}
	}

	#neighbourhood-map{
		#map{
			min-height: 250px;
		}
		.tabs{
			display: none;
		}
		.accordions{
			display: block;
		}
	}

	#map-box{
		height: 250px;
	}

	#contact-details{
		h2{
			@include font-size(24);
		}
		h3{
			@include font-size(30);
			word-wrap: break-word;
		}
	}
	#form-container{
		table{
			width: 100%;
		}

		.radioGroup{
			text-align: center;
		}
	}

	#formTable{
		tr{
			display: block;

		}
		td,
		td.form-label,
		td.control{
			width: 100%;
			display: block;
			text-align: center;

			input[type=text]{
				width: 100%;
			}
		}
		tr.security-code{
			td.control{
				margin-top: 5px;
				padding-top: 5px;
			}
		}
	}
}


@media screen and (max-width: 681px){

	#masthead .register-button{
		@include font-size(12);

		&:before{
			left: -30px;
			border-width: 15px;
		}
	}

	#home-slideshow{
		.text-wrap{

			p{
				@include font-size(12);
			}

		}
	}

	// #map-intro{
	// 	.button{
	// 		@include font-size(10);

	// 		&:before,&:after{
	// 			border-width: 17px;
	// 		}
	// 	}
	// }


	.fancybox-inner{
		
		.location-info{
			// padding-bottom: 45px;
			text-align: center;
		}

		.top-panel{
			text-align: center;
		}

		.download-link{			
			@include archer(600);
			background: $lightorange;
			color: $grey;
			text-transform: uppercase;
			margin: 15px 0;
			padding: 10px 50px;
			border: none;
			position: relative;
			margin-top: 0;

			top: 0;
			display: inline-block;
			left: 0;
			right: 0;
			float: none;




			&:hover{
				background: $orange;
				color: white;
			}

			&:before,
			&:after{
				content:'';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				width: 25px;
				height:100%;
				// border: 20px solid transparent;

			}
			&:before{
				right: 0px;
				left: auto;
				border: none;
				background: url(../../images/banner-cover-right-light.png) no-repeat right center;
				// border-right-color: white;
			}
			&:after{
				background: url(../../images/banner-cover-left-light.png) no-repeat right center;
				left: 0px;
				// border-left-color: white;
			}
		}

		.general-info{
			text-align: center;
			h1{
				display: block;
				float: none;
				padding-bottom: 10px;
			}
		}
	}

}


@media screen and (max-width: 465px){

	#home-featured{

		.text-wrap{
			padding: 25px;
		}
		.button{
			margin-bottom: 15px;
		}
	}


	h2{
		@include font-size(32);
	}

}