////////////////////////////////////
//////         FONTS         ///////
////////////////////////////////////

@mixin archer($weight:400, $style:normal){
	font-family: 'Archer SSm A', 'Archer SSm B'; 
	font-weight: $weight; 
	font-style: $style;
}

@mixin font($weight:400, $style:normal){
	font-family: "font" ,serif;
	font-style: $style;
	font-weight: $weight;
}


///////////////////////////////////
//////        MIXINS        ///////
///////////////////////////////////

// Button Style //
@mixin button ( $color:white) {
	@include ease();
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	line-height: 1.3;
	position: relative;
	overflow: visible;
	padding: 10px 15px;

	@if $color == white {

		// Font Settings //
		@include font-size( 16 );

		color: white;
		text-decoration: none;
		text-transform: none;	

		// Corners, Borders, and Padding //

		// Background color and Gradient and Border //
		background: rgba(255,255,255,.2); 
		border: 1px solid white;

		&:hover {
			// Background color and Gradient and Border //
			background: white;
			color: $darkgrey;
			
		}
	} 
	@if $color == orange {

		// Font Settings //
		@include font-size( 16 );

		color: $orange;
		text-decoration: none;
		text-transform: none;	

		// Corners, Borders, and Padding //
		border: solid 1px $orange;

		// Background color and Gradient and Border //

		&:hover {
			// Background color and Gradient and Border //
			background: $orange;
			color: white;
			
		}
	} 

	&:active {
		top: 2px;
	}
}


@mixin scrolldown($color : grey){

	.scroll-down{
		text-align: center;
		position: absolute;
		bottom: -25px;
		left: 0;
		right: 0;
		z-index: 10;
		a{
			@if $color == grey{
				background: url(../../images/icon-down-arrow-grey.png) no-repeat center center;
			}
			@if $color == white{				
				background: url(../../images/icon-down-arrow-white.png) no-repeat center center;
			}
			@if $color == lightgrey{				
				background: url(../../images/icon-down-arrow-lightgrey.png) no-repeat center center;
			}
			display: inline-block;
			height: 50px;
			width: 50px;
			outline: 0;
		}
	}
}