//////////////////////////////////////
//////         COLORS         ////////
//////////////////////////////////////


$blue: #209ac2;


$bordergrey: #d8d5d3;

$offwhite: #f5f5f5;
$lightgrey: #e8e3e0;
$grey: #707070;
$darkgrey: #4c4c4c;

$offblack: #3a3a3a;
$nearblack: #2a2a2a;


// Main Text Color
$maintext: $grey;
// $primary:
// $secondary:




// NEW COLORS 
$lightorange: #fec524;
$orange: #ffa300;